span[type=button] {
-webkit-appearance: none;
}
a[type=button] {
-webkit-appearance: none;
}

.menuDrawer [type="button"] {
-webkit-appearance:inherit;
}

.vertical-center {
    display: flex;
    align-items: center;
}