span[type=button] {
-webkit-appearance: none;
}
a[type=button] {
-webkit-appearance: none;
}

.menuDrawer [type="button"] {
-webkit-appearance:inherit;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.card{
    margin: 5px;
}

.container-fluid{
    padding: 5px;
}

body {
    background-color: #EEEEEE;
}